.profil {
  width: 100%;
  flex: 1 0 auto;
}
.body__profil {
  margin-top: 70px;
  display: block;
  padding: 20px 30px;
  text-align: center;
}

.body__profil h1 {
  width: 100%;
  text-align: center;
  color: #232931;
  font-weight: 800;
  font-size: 40px;
  text-decoration: underline #f73859;
}
.body__profil img {
  margin: 10px;
  width: 80%;
  object-fit: cover;
  object-position: center;
  height: auto;
  border-radius: 10px;
}

.body__profil p {
  margin: 10px 0 30px 0;
}
