.berita {
  background-color: #ededed;
  margin: 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(35, 41, 49, 0.2);
  border-radius: 10px;
  width: 270px;
  height: 420px;
}

.img__berita {
  width: 270px;
  height: 270px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.title__berita {
  padding: 5px 15px;
  font-size: 18px;
  color: rgba(35, 41, 49);
  cursor: pointer;
}
