.data__nums {
  margin-top: 20px;
  text-align: center;
}
.data__nums__title {
  text-align: center;
  color: #232931;
}
.data__nums__container {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 5px 0 20px 0;
}
.data__nums__container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 760px) {
  .data__nums__container {
    justify-content: start;
  }
}
